<header class="adm-header">
  <section class="adm-navbar">
    <a href="/adm/home" class="adm-logo">
      <img src="/imagens/LogoSemFgrande.png" alt="Logo">
      <span>MAXIMUS <b>ADM</b></span>
    </a>
    <nav class="adm-nav-links">
      <a href="/adm/home">Dashboard</a>
      <a href="/adm/alunos">Alunos</a>
      <a href="/adm/treinos">Treinos</a>
    </nav>
    <a href="/adm/logout" class="adm-logout">Sair</a>
  </section>
</header>