<link rel="stylesheet" href="/css/footer.css">

<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="/imagens/LogoSemFgrande.png" alt="Maximus Training">
    </div>

    <h2>Vamos nos conectar!</h2>
    <p>Siga a Maximus Training nas redes e fique por dentro de tudo.</p>

    <div class="social-icons">
      <a href="#"><i class="fab fa-instagram"><img src="imagens/Instagram.png" alt="Instagram"></i>  </a>
      <a href="#"><i class="fab fa-facebook-f"></i> </a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      
    </div>

    <hr>

    <span>© 2026 Maximus Training. Todos os direitos reservados.</span>
  </div>
</footer>