<head>
    <link rel="stylesheet" href="/css/base.css">
</head>
<header>
  <section class="containernavbar">

    <a class="logo-container" href="/">
      <img src="/imagens/LogoSemFgrande.png" alt="Logo">
      <h2 class="nome-logo">MAXIMUS TRAINING</h2>
    </a>

    <nav class="navnavbar">
      <article class="menu-links">
        <a href="/" class="ativo">Início</a>
        <a href="/proposta">Nossa Proposta</a>
        <a href="/planos">Planos</a>
        <a href="/contato">Contato</a>
      </article>
      <a href="/login" class="botao-destaque">Conta</a>
    </nav>
  </section>
</header>