
<head>
    <link rel="stylesheet" href="/css/home.css">
</head>
<!-- HEADER -->
<header>
  <div class="container">

    <div class="logo-container">
      <img src="/imagens/LogoSemFgrande.png" alt="Logo">
    </div>

    <nav>
      <div class="menu-links">
        <a href="/" class="ativo">Início</a>
        <a href="sobre.html">Sobre</a>
        <a href="planos.html">Planos</a>
        <a href="contato.html">Contato</a>
      </div>
      <a href="/login" class="botao-destaque">Conta</a>
    </nav>

  </div>
</header>