body {
  margin: 0;
  font-family: Arial;
  background: #141414;
  color: white;
}

.container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 240px;
  height: 100vh;
  background: #250101;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.sidebar li:hover {
  background: #1b0808;
}

/* Main */
.main {
  flex: 1;
}

/* Header */
.header {
  height: 70px;
  background: #240101;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header input {
  padding: 8px;
  border-radius: 5px;
  border: none;
}

/* Cards */
.cards {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  background: #757380;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

/* Tabela */
.table-section {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #9c2121;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background: #660000;
}

tr:hover {
  background: #303030;
}