body {
    background: var(--preto);
    font-family: "Zen Dots" sans-serif;
    color: var(--branco);
}

.main_login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.formulario {
    width: 100%;
    max-width: 650px;
    background: #111;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.2);
}

.formulario::before {
    content: "";
    position: absolute;
    left: -15px;
    width: 100%;
    height: 99%;
    background: var(--principal);
    border-radius: 5px;
    z-index: -1;
}

.form-header h1 {
    font-size: clamp(20px, 5vw, 24px);
    margin-bottom: 5px;
    color: var(--branco);
}

.form-header p {
    font-size: clamp(12px, 3vw, 14px);
    color: var(--branco);
    margin-bottom: 15px;
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

legend {
    font-size: 14px;
    margin-bottom: 10px;
    color: #aaa;
}

.form-group {
    margin-bottom: 15px;
}
.form-group a{
    color: var(--principal);
}

label {
    display: block;
    font-size: clamp(16px, 4vw, 23px);
    margin-bottom: 5px;
    font-weight: bold;
    font-family: "Zen Dots", sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    background: var(--preto);
    border: none;
    border-bottom: 2px solid #222;
    color: var(--branco);
    outline: none;
    transition: 0.3s;
    font-size: clamp(16px, 4vw, 25px);
}

input:focus {
    border-bottom: 2px solid var(--principal);
}

.erro {
    border-bottom: 2px solid var(--principal) !important;
}

.spanerro {
    font-size: 12px;
    color: var(--principal);
}

.content {
    background: #0d0d0d;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 13px;
}

.content p {
    color: var(--branco);
}

.requirement-list {
    list-style: none;
    margin-top: 5px;
}

.requirement-list li {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #bbb;
    margin-bottom: 5px;
}

.requirement-list i {
    font-size: 8px;
}
.form-footer {
    margin-top: 20px;
    font-family: "Zen Dots" sans-serif;
}
.form-footer nav{
    margin-top: 10px;
}

.form-footer nav a {
    margin: 10px;
    color: var(--branco);
    font-size: 14px;
    text-decoration: none;
}
.form-footer nav b {
    color: var(--principal);
}

#enviar_login {
    width: 100%;
    padding: 12px;
    background: var(--principal);
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    font-family: "Zen Dots" sans-serif;
}

#enviar_login:hover {
    background: #cc0000;
}
.logo {
    height: clamp(50px, 10vw, 80px);
}

.titlelogo {
    font-family: "Zen Dots", sans-serif;
    font-weight: 1100;
    font-size: clamp(40px, 8vw, 100px);
}

.divisoria {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.divisoria h1 {
    color: var(--branco);
}


@media (max-width: 768px) {
    .divisoria {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .container6 {
        padding: 20px 15px;
    }

    input {
        padding: 8px;
    }

    

}


.input-group {
    position: relative;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 10px 45px 10px 10px;
    box-sizing: border-box;
    background: var(--preto);
    border: none;
    border-bottom: 2px solid #222;
    color: var(--branco);
    outline: none;
}

.input-group input:focus {
    border-bottom: 2px solid var(--principal);
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.4);
    transition: all 0.3s ease;
}

.toggle-senha-btn1 {
    position: absolute;
    right: 12px;
    top: 52%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-olho {
    width: 20px;
    height: 20px;
    object-fit: contain;
    filter: brightness(0) invert(1);
}