<!--feito pelo lucas para teste do formulario com banco de dados-->

<form action="/aluno" method="POST">
  <input name="nome" placeholder="Nome" />
  <input name="email" placeholder="Email" />
  <input name="senha" type="password" placeholder="Senha" />
  <input name="peso" placeholder="Peso" />
  <input name="altura" placeholder="Altura" />
  <button type="submit">Cadastrar</button>
</form>