
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" href="/imagens/LogoSemFgrandeICO.ico">
    <title>Maximus Training</title>

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

<%- include('../partials/navbar'); %>

<!-- HERO -->
<section class="hero">

  <!-- TEXTO -->
  <div class="hero-texto">

    <h1>
      SEU NOVO PONTO<br>
      DE PARTIDA<br>
      PARA FORÇA,<br>
      SAÚDE E<br>
      PERFORMANCE.
    </h1>

    <p>
      Sistema completo para gestão de academias,
      treinos em um só lugar.
    </p>

    <div class="hero-botoes">
      <a href="/compras" class="btn-vermelho">DESCUBRA</a>
      <a href="#" class="btn-borda">NOSSA PROPOSTA</a>
    </div>

  </div>

  <!-- IMAGEM (AGORA BACKGROUND) -->
  <div class="hero-imagem"></div>

</section>

</body>
</html>