<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/base.css"> 
    <link rel="stylesheet" href="/css/home.css"> 
    <link rel="icon" href="/imagens/LogoSemFgrandeICO.ico"> 
    <title>Maximus Training</title>
</head>

<body>
  <%- include('../partials/navbar'); %> 
  <main class="hero">
    <section class="hero-texto">
      <h1>
        SEU NOVO PONTO<br>
        DE PARTIDA<br>
        PARA FORÇA,<br>
        SAÚDE E<br>
        PERFORMANCE.
      </h1>
      <p>
        Sistema completo para gestão de academias,
        treinos em um só lugar.
      </p>
      <article class="hero-botoes">
        <a href="#" class="btn-vermelho">DESCUBRA</a>
        <a href="/proposta" class="btn-borda">NOSSA PROPOSTA</a>
      </article>
    </section>
    <section class="hero-imagem"></section>
  </main>
</body>
</html>